body {
	margin: 0;
	padding: 0;
}
.container {
	width: 525px;
	margin: auto;
}
.bola {
	width: 25px;
	height: 25px;
	background-color: green;
	border-radius: 25px;
	position: absolute;
}
.containerBolas {
	background-color: black;
	width: 525px;
	height: 425px;
	margin: 20px 0;
	position: relative;
}
button {
	border: none;
	padding: 10px;
	text-align: center;
	color: white;
	background-color: #444;
}
button:hover {
	opacity: 0.8;
}
.iniciar {
	background-color: green;
}
.parar {
	background-color: red;
}

@media (max-width: 600px) {

	.containerBolas {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	button {
		display: block;
		width: 50%;
		margin: auto;
		margin-bottom: 5px;
	}
}